*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 24px;
}

/* header  */

    .rectangle {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 60px;
    background: #79BDAE;
    background-color: #204A5F;
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
    line-height: 60px;
    display:flex;
    justify-content: space-between;
}

.rectangle h1{
    padding-left: 50px;
}

.rectangle div{
    padding-right: 50px;
}

.fa-solid{
    color: white;
}

/* main part */
.container{
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    border: 5px solid green;
    display:flex;
    justify-content: center;
}

.container li{
    list-style: none;
}

.main{
    padding: 2.5rem;

}

.main h2{
    text-align: center;
}

.photo div{
    padding: 2rem;
}

/* footer */
.footer{
    margin-top: 10%;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  #left{
    padding-left: 10%;
  }

  #right{
    padding-right: 10%;
  }
